In [25]:
import pandas as pd 
import numpy as np 
from random import Random
import random

In [38]:
#we cant fit time series data less than 50 observations (i.e. small data set) t becomes difficult to accurately capture underlying patterns like trends and seasonality
#we then simulate it from 
random.seed(568)
population = [random.normalvariate(10, 5) for _ in range(1000)]
population = [x for x in population if x >= 0]# lets say these are amount of cars that enter within a period 
days = [_ for _ in range(len(population))]

In [39]:
population = [int(car) for car in population]
print(population)
print(days)

[2, 7, 13, 9, 13, 4, 6, 11, 11, 10, 21, 8, 12, 10, 9, 13, 11, 8, 11, 8, 14, 10, 9, 6, 8, 8, 8, 9, 0, 3, 4, 11, 4, 0, 10, 7, 12, 8, 6, 10, 11, 12, 11, 7, 20, 14, 11, 8, 10, 5, 12, 13, 4, 9, 2, 5, 16, 5, 11, 16, 11, 13, 8, 14, 13, 7, 13, 8, 9, 21, 12, 7, 9, 16, 16, 19, 9, 15, 13, 6, 9, 14, 6, 3, 6, 22, 4, 0, 10, 7, 8, 14, 11, 6, 15, 1, 9, 17, 10, 12, 11, 14, 8, 4, 10, 10, 1, 8, 11, 8, 5, 11, 17, 10, 3, 0, 10, 5, 17, 4, 7, 7, 18, 10, 12, 10, 5, 3, 11, 8, 13, 4, 11, 12, 16, 13, 6, 9, 12, 11, 15, 17, 17, 12, 8, 6, 8, 8, 12, 14, 5, 5, 3, 6, 12, 12, 16, 12, 2, 12, 9, 12, 19, 11, 9, 8, 13, 8, 12, 7, 10, 7, 6, 2, 16, 3, 8, 5, 5, 9, 16, 8, 10, 9, 15, 12, 12, 5, 10, 12, 4, 7, 7, 10, 4, 8, 6, 7, 2, 0, 9, 10, 11, 12, 9, 7, 11, 5, 11, 18, 6, 7, 11, 15, 10, 5, 16, 0, 16, 0, 2, 5, 9, 6, 4, 18, 8, 13, 8, 1, 16, 9, 9, 12, 9, 8, 16, 19, 17, 11, 15, 13, 6, 12, 14, 7, 10, 11, 13, 3, 11, 0, 16, 4, 10, 15, 18, 8, 15, 17, 5, 12, 8, 12, 14, 20, 11, 1, 10, 8, 13, 9, 16, 18, 7, 9, 5, 9, 10, 8, 6, 11, 9, 12, 4, 11, 5, 17, 11, 7, 11, 26, 15, 22, 12, 14, 3, 20, 8, 9, 10, 13, 5, 5, 6, 23, 22, 9, 11, 8, 8, 5, 10, 5, 7, 13, 2, 8, 10, 5, 13, 17, 14, 11, 15, 9, 11, 9, 7, 2, 14, 14, 11, 14, 14, 9, 5, 0, 12, 6, 11, 4, 13, 3, 12, 2, 15, 9, 17, 8, 9, 3, 18, 18, 11, 8, 20, 11, 9, 12, 2, 15, 4, 13, 14, 12, 15, 2, 4, 11, 4, 1, 6, 7, 8, 12, 14, 10, 5, 8, 15, 5, 8, 13, 7, 8, 12, 16, 4, 5, 17, 17, 11, 11, 13, 1, 21, 12, 6, 8, 20, 9, 6, 15, 11, 14, 10, 2, 5, 11, 7, 13, 4, 18, 7, 6, 9, 10, 15, 4, 5, 4, 9, 19, 16, 11, 9, 22, 10, 6, 13, 10, 9, 14, 15, 0, 5, 3, 13, 6, 12, 9, 7, 3, 17, 3, 7, 3, 14, 22, 17, 6, 1, 10, 17, 9, 10, 4, 5, 16, 3, 6, 8, 15, 11, 7, 10, 8, 1, 4, 9, 9, 4, 6, 11, 13, 6, 17, 15, 10, 8, 6, 20, 5, 8, 14, 14, 11, 14, 2, 17, 13, 7, 21, 8, 5, 11, 3, 12, 7, 13, 5, 13, 18, 13, 8, 6, 12, 9, 8, 6, 3, 5, 4, 13, 11, 6, 6, 9, 20, 4, 10, 6, 8, 5, 2, 13, 11, 2, 12, 9, 4, 8, 10, 9, 12, 14, 5, 12, 15, 6, 16, 10, 15, 10, 13, 3, 13, 14, 11, 8, 9, 19, 9, 4, 0, 16, 13, 10, 9, 6, 17, 8, 4, 4, 14, 8, 8, 15, 11, 11, 8, 4, 1, 8, 6, 11, 3, 16, 10, 3, 17, 14, 13, 6, 2, 1, 9, 18, 19, 9, 10, 10, 11, 14, 11, 8, 11, 10, 4, 13, 10, 8, 11, 14, 7, 8, 8, 9, 13, 13, 15, 10, 11, 0, 10, 4, 13, 3, 11, 17, 4, 13, 18, 12, 13, 14, 7, 17, 11, 7, 7, 9, 16, 16, 2, 15, 4, 14, 6, 2, 13, 6, 8, 10, 4, 10, 8, 9, 0, 23, 5, 10, 18, 6, 2, 11, 0, 13, 18, 14, 3, 5, 4, 7, 10, 8, 8, 3, 11, 8, 14, 11, 9, 13, 8, 15, 13, 5, 7, 13, 16, 14, 15, 4, 11, 12, 12, 7, 12, 8, 11, 9, 6, 5, 8, 4, 10, 9, 8, 7, 16, 8, 1, 9, 3, 19, 6, 9, 16, 10, 11, 12, 14, 0, 9, 15, 27, 9, 10, 5, 15, 3, 8, 10, 16, 2, 14, 13, 14, 13, 7, 10, 9, 7, 9, 12, 7, 11, 17, 16, 17, 6, 4, 19, 9, 4, 17, 5, 6, 18, 5, 14, 10, 16, 19, 7, 2, 15, 16, 18, 15, 10, 4, 10, 5, 18, 9, 8, 11, 16, 12, 0, 10, 8, 11, 1, 13, 7, 4, 5, 0, 7, 14, 10, 4, 11, 6, 10, 8, 5, 13, 5, 19, 14, 4, 7, 8, 10, 6, 7, 7, 11, 12, 2, 4, 3, 6, 12, 7, 18, 12, 7, 12, 7, 8, 23, 0, 14, 12, 6, 4, 17, 7, 8, 17, 12, 1, 13, 13, 15, 10, 9, 14, 6, 3, 11, 8, 10, 17, 15, 4, 15, 4, 8, 7, 15, 12, 11, 4, 10, 11, 12, 3, 2, 16, 15, 10, 11, 4, 6, 5, 13, 12, 12, 11, 5, 3, 16, 8, 9, 6, 9, 12, 21, 17, 11, 11, 3, 20, 13, 16, 8, 20, 7, 9, 17, 9, 9, 6, 7, 11, 8, 10, 1, 6, 10, 3, 15, 6, 11, 3, 5, 8, 7, 9, 8, 15, 6, 9, 15, 11, 7, 10, 9, 9, 12, 18, 12, 14, 9, 6, 9, 16, 10, 3, 22, 5, 8, 21, 5, 7, 11, 9, 10, 5, 2, 9, 9, 9, 10, 6, 9, 11, 17, 17, 14, 11, 4, 4, 9, 3, 5, 8, 10, 7, 6, 12, 12, 12, 8, 12, 5, 6, 7, 3, 15, 19, 6, 14, 10, 11]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971]

In [40]:
dict_ = {'Day': days, 'Cars': population}
data = pd.DataFrame(dict_, index=days)

In [41]:
data

     Day  Cars
0      0     2
1      1     7
2      2    13
3      3     9
4      4    13
..   ...   ...
967  967    19
968  968     6
969  969    14
970  970    10
971  971    11

[972 rows x 2 columns]

In [82]:
sample = data.sample(n=40)

In [83]:
sample

     Day  Cars
489  489     2
354  354    11
780  780     5
401  401     9
773  773    10
132  132    11
93    93     6
455  455     9
387  387    16
718  718     9
339  339     6
591  591    10
579  579    10
745  745     9
334  334    14
854  854     2
201  201    10
304  304     6
731  731     7
952  952     5
260  260     5
512  512     5
523  523     8
372  372     6
711  711    11
895  895     6
366  366    15
59    59    16
867  867     3
301  301    13
400  400    20
641  641    13
240  240    15
212  212    11
45    45    14
465  465     7
807  807     6
744  744    19
556  556    16
782  782     7

In [32]:
import matplotlib.pyplot as plt
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.graphics.tsaplots import plot_acf

In [79]:
model = ARIMA(sample['Cars'],order=(1,0,0))

C:\Users\mehul\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
C:\Users\mehul\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
C:\Users\mehul\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)

In [84]:
fitted_Model = ARIMA.fit(model)

In [85]:
print(fitted_Model.summary())

                               SARIMAX Results
==============================================================================
Dep. Variable:                   Cars   No. Observations:                   50
Model:                 ARIMA(1, 0, 0)   Log Likelihood                -147.070
Date:                Thu, 16 Jan 2025   AIC                            300.141
Time:                        11:18:09   BIC                            305.877
Sample:                             0   HQIC                           302.325
                                 - 50
Covariance Type:                  opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          8.4198      0.634     13.273      0.000       7.176       9.663
ar.L1         -0.1043      0.164     -0.637      0.524      -0.425       0.217
sigma2        21.0040      5.438      3.863      0.000      10.346      31.662
===================================================================================
Ljung-Box (L1) (Q):                   0.01   Jarque-Bera (JB):                 1.68
Prob(Q):                              0.93   Prob(JB):                         0.43
Heteroskedasticity (H):               0.91   Skew:                             0.26
Prob(H) (two-sided):                  0.85   Kurtosis:                         2.26
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).

In [50]:
###since we have High AIC/BIC/HQIC models we can say that this model doesnt fit properly with ARIMA model 
### so in general we can say that